@model AppStoreIntegrationService.Model.PluginVersion;

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

    <div id="pluginVersionContainer">
        <input hidden asp-for="@Model.IsPrivatePlugin" value="true" />
        <input hidden asp-for="@Model.Id"/>
        <h6 style="padding:15px">@Model.VersionName</h6>
        <div style="display:flex">
            <div class="details-lbl-container">
                <label class="details-version-lbl" asp-for="@Model.VersionNumber">Version Number <span class="field-validation-error">*</span></label>
                <label class="details-version-lbl" asp-for="@Model.MinimumRequiredVersionOfStudio">Minimum Studio Version <span class="field-validation-error">*</span></label>
                <label class="details-version-lbl" asp-for="@Model.DownloadUrl">Download URL <span class="field-validation-error">*</span></label>
                <label class="details-version-lbl" asp-for="@Model.AppHasStudioPluginInstaller">Has plugin extension <span class="field-validation-error">*</span></label>
                <label class="details-version-lbl" asp-for="@Model.SelectedProductId">Product <span class="field-validation-error">*</span></label>
            </div>
            <div class="details-input-container">
                <input hidden asp-for="@Model.SelectedProductId" />
                <input hidden asp-for="@Model.TechnicalRequirements" />
                <input hidden asp-for="@Model.SelectedProduct.Id" />
                <input hidden asp-for="@Model.SelectedProduct.ProductName" />
                <input hidden asp-for="@Model.SelectedProduct.ParentProductID" />
                <input hidden asp-for="@Model.SelectedProduct.MinimumStudioVersion" />

                @for (int i = 0; i < Model.SupportedProducts.Count; i++)
                {
                    <input hidden asp-for="@Model.SupportedProducts[i].Id" />
                    <input hidden asp-for="@Model.SupportedProducts[i].ParentProductID" />
                    <input hidden asp-for="@Model.SupportedProducts[i].ProductName" />
                    <input hidden asp-for="@Model.SupportedProducts[i].MinimumStudioVersion" />
                }
                <input asp-for="@Model.VersionNumber" class="form-control col-sm-7 details-input" />
                <input asp-for="@Model.MinimumRequiredVersionOfStudio" class="form-control col-sm-7 details-input" />
                <input asp-for="@Model.DownloadUrl" class="form-control col-sm-7 details-input" />
                <input asp-for="@Model.AppHasStudioPluginInstaller" class="details-input" style="margin-top:20px;margin-left:10px" />
                <select asp-for="@Model.SelectedProduct" asp-items="Model.SupportedProductsListItems" class="form-control col-sm-7 details-input" style="padding:0;margin-top:20px"></select>
            </div>
        </div>
    </div>
