@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model AppStoreIntegrationService.ConfigToolModel
@{
    ViewData["Title"] = "ConfigTool";
}

<html>
<head>
    <link rel="stylesheet" href="~/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/configtool.css" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    
    <style>
        .focusWhite:focus {
            background-color: white;
        }
    </style>

</head>

<body>
    <div class="container" id="configToolPage">
        <div class="row card-actions" style="color:white">
            <button type="button" onclick="javascript: ShowNewPluginModal()" class="btn btn-secondary add-pluginBtn"><i class="fas fa-puzzle-piece" style="margin-right:5px;color:white;"></i>New App</button>
        </div>
        <div class="row">
            <input hidden asp-for="@Model.Id" id="selectedPluginId" />
            <input hidden asp-for="@Model.Name" id="selectedPluginName" />

            @foreach (var plugin in Model.PrivatePlugins)
            {
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-3 col-12 card-container" style="padding-right:0">
                    <div class="card card-item">
                        <div class="img-container">
                            <img class="img-item" src="@plugin.IconUrl" asp-append-version="true">
                        </div>
                        <div class="card-body card-body-flex">
                            <div class="card-title">@plugin.Name</div>
                            <div class="card-actions">
                                <a class="focusWhite" asp-page="Edit" asp-route-Id="@plugin.Id" id="edit-button"><i class="fas fa-pencil-alt"></i></a>
                                <a onclick="javascript: ShowConfirmationModal('@plugin.Id','@plugin.Name')" id="delete-button" style="cursor:pointer"><i class="far fa-trash-alt"></i></a>
                            </div>
                        </div>

                    </div>
                </div>
            }
        </div>
        <div id="addModalContainer"></div>
        <div id="modalContainer"></div>
    </div>
    <script src="~/js/jquery.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/configToolScripts.js"></script>
</body>
</html>


